.container {
  width: 1200px;
  border: 0px 1px;
  margin: 0 auto;
}

#site-title {
  text-align: center;
}
table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 2px;
}
th,
td {
  border-color: #1d3557;
}

tr:hover {
  background: #f1faee;
  cursor: pointer;
}
td a {
  display: block;
  border: 1px solid black;
  padding: 16px;
}

tr td {
  background-color: #fff;
}

tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even) {
  background-color: #f1faee;
}

table tr:nth-of-type(2n) td {
  border-bottom: 3px solid #1d3557;
}

#headertext {
  text-align: center;
}
#info {
  padding-top: 25px;
}

.floating-buttons {
  width: 500px;
}

#dateStart,
#dateEnd,
#fixtureID,
#playerID,
#playerID2,
#roundNr,
#teamID {
  width: 150px;
}

.work-area {
  width: 900px;
  float: left;
}

.control-panel {
  padding-left: 10px;
  width: 510px;
  float: left;
  margin-right: 3px;
}

.canvas-div {
  width: 1080px;
  float: left;
}

#league-list {
  cursor: pointer;
  width: 300px;
}

.selected-league {
  border: 2px solid red;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.automatches-row {
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
}

.automatches-row * {
  flex: 1 1 0px;
}

.thirtythree {
  width: 33%;
}

#submit-league-info {
  margin-bottom: 3px;
}

#league-name,
#league-id,
#round-no {
  display: inline-block;
  margin-right: 10px; /* Adds space between spans */
}
