body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1em;
}

main {
  padding: 1rem;
  margin-bottom: 30px;
}

section {
  margin-bottom: 2em;
}

h2 {
  margin-top: 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #333;
}

th,
td {
  padding: 0.5em;
  text-align: left;
}

form label {
  display: inline-block;
  width: 100px;
  margin-top: 10px;
}

form input {
  margin-bottom: 10px;
}

form button {
  display: block;
  margin-top: 10px;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: linear-gradient(
    to bottom,
    #457b9d 60%,
    #4f8ea9 80%,
    #5fa3c1 100%
  );
  color: #fff;
  text-align: center;
  align-items: center;
  padding: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold; /* Make the text bold */
}

.logo-title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.logo-title img {
  height: 50px; /* Adjust this size as needed */
  margin-right: 10px; /* Space between the logo and the text */
}

.logo-title h1 {
  font-size: 50px; /* Make the title as tall as the logo */
  font-weight: 900; /* Extra bold */
  margin: 0; /* Remove default margin */
}

nav {
  margin-top: 10px; /* Add some spacing above the nav */
  margin-bottom: 10px;
}

nav ul {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  font-weight: 700;
  font-size: 15px;
  padding: 6px 20px;
  background-color: rgba(29, 53, 87, 0.7); /* More transparent background */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add transform for hover effect */
}

nav ul li a:hover {
  background-color: rgba(230, 57, 70, 0.9); /* Transparent hover background */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.form-indicator {
  display: inline-block;
  width: 10px; /* Adjust size for fitting */
  height: 20px; /* Adjust size for fitting */
  margin-right: 2px;
  border-radius: 2px; /* Makes the rectangle slightly rounded */
}

td .form-indicator:last-child {
  margin-right: 0;
}

.W {
  background-color: green; /* Green for win */
}

.L {
  background-color: red; /* Red for loss */
}

.D {
  background-color: gray; /* Gray for draw */
}

footer {
  background-color: #1d3557;
  color: #fff;
  text-align: center;
  padding: 5px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 3px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.small-container {
  display: grid;
  place-items: center; /* Centers both horizontally and vertically */
}

.content {
  width: 50%; /* Set the desired width for the content */
  padding: 20px; /* Add padding if needed */
}
.sortable {
  cursor: pointer; /* Makes the header look clickable */
}

.sortable .sort-indicator::before {
  content: "↕"; /* Default state, showing both directions */
  font-size: 12px;
}

.sortable.asc .sort-indicator::before {
  content: "▲"; /* Ascending order */
}

.sortable.desc .sort-indicator::before {
  content: "▼"; /* Descending order */
}

.sortable:hover {
  background-color: #f0f0f0; /* Highlight the header */
}

.rectangle {
  flex: 1 1 48%; /* Grow to fill space, shrink if needed, base width 50% */
  padding: 20px;
  border: 1px solid #333;
  text-align: center;
  box-sizing: border-box;
  margin: 8px;
}

#rectangle1 {
  background-color: #f1faee;
}

#rectangle2,
#rectangle3 {
  background-color: #a8dadc;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .rectangle {
    flex: 1 1 100%; /* Base width 100% for mobile, stack on top of each other */
  }
}
