<table style="border-collapse: collapse; border: 3px solid #1D3557;" border="1" id="player-list-table">
  <thead>
    <tr class="main-table-header">
      <th colspan="3" class="list-header">Player</th>
      <th width="50" class="list-header">Team</th>
      <th class="list-header sortable"><span class="big-played">Apps</span><span class="small-played">P</span><span class="sort-indicator"></span></th>
      <th class="list-header sortable"><span class="big-played">Goals</span><span class="small-played">G</span><span class="sort-indicator"></span></th>
      <th class="list-header sortable sec-stats">NPG<span class="sort-indicator"></span></th>
      <th class="list-header sortable"><span class="big-played">Assists</span><span class="small-played">A</span><span class="sort-indicator"></span></th>
      <th class="list-header sortable">GA<span class="sort-indicator"></span></th>   
      <th class="list-header sortable sec-stats">GA/90<span class="sort-indicator"></span></th>
      {{#if big}}
        <th class="list-header sortable">Minutes<span class="sort-indicator"></span></th>
        <th class="list-header sortable">Pens<span class="sort-indicator"></span></th>
        <th class="list-header sortable">Shots<span class="sort-indicator"></span></th>
        <th class="list-header sortable">Dribbles<span class="sort-indicator"></span></th>
        <th class="list-header sortable">Duels<span class="sort-indicator"></span></th>
        <th class="list-header sortable">Key Passes<span class="sort-indicator"></span></th>
        <th class="list-header sortable">Fouls Against<span class="sort-indicator"></span></th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
