<table style='border-collapse: collapse; border: 3px solid #1D3557;' border='1' id="team-list-table">
    <thead>
        <tr class="main-table-header">
        <th style="border-right:1px solid #F1FAEE" rowspan=2 colspan=2>Teams</th>
        <th rowspan=2 class="form-column">Form</td>
        <th rowspan=2 title="Played" class="team-list-header"><span class="big-played">Played</span><span class="small-played">P</span></th>
        {{#if big}}
            <th rowspan=2 class="team-list-header top-row">Win %</th>  <!-- Add Win % column if 'big' is true -->
        {{/if}}
        <th colspan=2 title="Goals" class="team-list-header top-row">Goals</th>
        <th colspan=2 title="xG" class="team-list-header top-row">xG</th>
        <th colspan=2 title="Corners" class="team-list-header top-row">Corners</th>   
        <th colspan=2 title="Shots" class="team-list-header top-row">Shots</th>
        </tr>
        <tr class="main-table-header" style="border-top:0">
        <th title="Click to sort" class="team-list-header sortable sub-header">For<span class="sort-indicator"></span></th>
        <th title="Click to sort" class="team-list-header sortable sub-header">Ag<span class="sort-indicator"></span></th>
        <th title="Click to sort" class="team-list-header sortable sub-header">For<span class="sort-indicator"></span></th>
        <th title="Click to sort" class="team-list-header sortable sub-header">Ag<span class="sort-indicator"></span></th>
        <th title="Click to sort" class="team-list-header sortable sub-header">For<span class="sort-indicator"></span></th>
        <th title="Click to sort" class="team-list-header sortable sub-header">Ag<span class="sort-indicator"></span></th>
        <th title="Click to sort" class="team-list-header sortable sub-header">For<span class="sort-indicator"></span></th>
        <th title="Click to sort" class="team-list-header sortable sub-header">Ag<span class="sort-indicator"></span></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>