table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 2px;
}
th,
td {
  border-color: #1d3557;
}

tr:hover {
  background: #f1faee;
  cursor: pointer;
}
td a {
  display: block;
  border: 1px solid black;
  padding: 16px;
}

tr td {
  background-color: #fff;
}

tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even) {
  background-color: #f1faee;
}

#headertext {
  text-align: center;
}
#info {
  padding-top: 25px;
}

.floating-buttons {
  width: 400px;
  position: absolute;
  left: 83%;
  top: 0%;
  z-index: 99999;
}

.floating-text {
  position: absolute;
  left: 72%;
  top: 0%;
  z-index: 99999;
}

#dateStart,
#dateEnd,
#fixtureID,
#playerID,
#playerID2,
#roundNr,
#teamID {
  width: 150px;
}

.canvas-div {
  width: 1100px;
}

#league-list {
  cursor: pointer;
  width: 300px;
}

.selected-league {
  border: 2px solid red;
}

.automatches-row {
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
}

.automatches-row * {
  flex: 1 1 0px;
}

.thirtythree {
  width: 33%;
}

#submit-league-info {
  margin-bottom: 3px;
}
