table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 2px;
}
th,
td {
  border-color: #1d3557;
}

tr:hover {
  background: #f1faee;
  cursor: pointer;
}
td a {
  display: block;
  border: 1px solid black;
  padding: 16px;
}

#headertext {
  text-align: center;
}
#info {
  padding-top: 25px;
}

.floating-buttons {
  width: 400px;
  position: absolute;
  left: 80%;
  top: 45%;
  z-index: 99999;
}

#dateStart,
#dateEnd,
#fixtureID,
#playerID,
#playerID2 {
  width: 150px;
}

.canvas-div {
  width: 1100px;
}

#league-list {
  cursor: pointer;
}

.selected-league {
  border: 2px solid red;
}
