<html lang="en">
  <head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <!-- Latest compiled and minified CSS -->

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <div class="logo-title">
        <img src="/images/logo.png" alt="Generation Football Logo" />
        <h1>generationFOOTBALL</h1>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/players">Players</a></li>
          <li><a href="/teams">Teams</a></li>
          <li><a href="/starting11">Starting 11</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <center><h2><a href="/ucl-last-round">Check out our Table Calculator for the last round of the Champions League >></a></h2></center>
      {{{body}}}
    </main>
    <footer>
      <p>&copy; 2025 generationFOOTBALL</p>
    </footer>
  </body>
</html>