<div class="small-container">
  <div class="content"><h2>About Generation Football</h2>
    <p>At Generation Football, we're passionate about the beautiful game and
      committed to delivering in-depth analysis and insights into football
      matches around the world. Our platform is designed to provide football
      fans with detailed match statistics, player data, and performance metrics,
      making it easier for enthusiasts to stay informed and engage with the
      sport they love.
    </p>
    <p>Whether you're following your favorite team or diving deep into match
      analytics, Generation Football offers a unique experience by leveraging
      real-time data and intuitive visualizations. With a focus on simplicity
      and accuracy, our goal is to bring football analysis to the forefront,
      allowing you to explore matches beyond the final score. From match
      previews and reviews to starting lineups and tactical breakdowns, we aim
      to enhance how fans experience football. We're constantly evolving to
      bring you more comprehensive insights and tools that help you stay ahead
      of the game.</p>
    <p>We offer tools such as our
      <a href="/starting11">Starting 11 Builder</a>
      to help you share your thoughts and ideas quickly on social media.</p>
    <h2>Connect With Us</h2>
    <p>Stay connected with us on social media or reach out via email. We’d love
      to hear from you!</p>

    <p>Instagram:
      <a href="https://www.instagram.com/generfootball/">LINK</a></p>
    <p>Twitter: <a href="https://x.com/generfootball">LINK</a></p>
    <p>Email: generationfootball1[at]gmail.com (real email coming soon)</p>
    <p>Facebook:
      <a href="https://www.facebook.com/GenerationFootball1">LINK</a></p>
    <h3>
      Generation Football—where football lives and breathes data.</h3>
  </div>
</div>