<script type="module" src="./../controllers/home.js"></script>

<div class="container">
  <div class="rectangle" id="rectangle1">
    <div id="player-list"></div>
  </div>
  <div class="rectangle" id="rectangle2">Top Players
    <div id="top-team-list"></div>
  </div>
  <div class="rectangle" id="rectangle3">Top Teams Matches
    <span hidden id="league-name"></span>
    <span hidden id="league-id"></span>
    <span hidden id="round-no"></span>
    <div id="fixtures-info"></div>
  </div>
  <div class="rectangle" id="rectangle4">Coming Soon

  </div>
</div>