<script type="module" src="./../controllers/home.js"></script>

<div class="container">
  <div class="rectangle" id="rectangle1">Rectangle 1
    <span hidden id="league-name"></span>
    <span hidden id="league-id"></span>
    <span hidden id="round-no"></span>
    <div id="fixtures-info"></div>
  </div>
  <div class="rectangle" id="rectangle2">Rectangle 2
    <div id="player-list"></div>
  </div>
  <div class="rectangle" id="rectangle3">Rectangle 3
    <div id="player-list"></div>
  </div>
  <div class="rectangle" id="rectangle4">Rectangle 4
    <div id="player-list"></div>
  </div>
</div>