<script type="module" src="./../controllers/home.js"></script>

<div class="container">
  <div class="rectangle" id="rectangle1"><h2>Top Players</h2>
    <div id="player-list"></div>
  </div>
  <div class="rectangle" id="rectangle2"><h2>Top Teams</h2>
    <div id="top-team-list"></div>
  </div>
  <div class="rectangle" id="rectangle3"><h2>Matches</h2>
    <span hidden id="league-name"></span>
    <span hidden id="league-id"></span>
    <span hidden id="round-no"></span>
    <div id="fixtures-info"></div>
  </div>
  <div class="rectangle" id="rectangle4"><h2>Coming Soon</h2>

  </div>
</div>