<script type="module" src="./../controllers/home.js"></script>

<div class="container">
  <div class="rectangle" id="rectangle1">
    <h2>Top Players</h2>
    <a href="/players" class="more-link">More &gt;&gt;&gt;</a>
    <div id="player-list" class="table-container"></div>
  </div>
  <div class="rectangle" id="rectangle2"><h2>Top Teams</h2>
    <a href="/teams" class="more-link">More &gt;&gt;&gt;</a>
    <div>
      <table style='border-collapse: collapse; border: 3px solid #1D3557;' border='1' id="team-list-table">
        <thead>
          <tr class="main-table-header">
            <th style="border-right:1px solid #F1FAEE" rowspan=2 colspan=2>Teams</th>
            <th rowspan=2 class="form-column">Form</td>
            <th rowspan=2 title="Played" class="team-list-header">Played</th>
            <th colspan=2 title="Goals" class="team-list-header top-row">Goals</th>
            <th colspan=2 title="xG" class="team-list-header top-row">xG</th>
            <th colspan=2 title="Corners" class="team-list-header top-row">Corners</th>   
            <th colspan=2 title="Shots" class="team-list-header top-row">Shots</th>
          </tr>
          <tr class="main-table-header" style="border-top:0">
            <th title="Click to sort" class="team-list-header sortable sub-header">For<span class="sort-indicator"></span></th>
            <th title="Click to sort" class="team-list-header sortable sub-header">Ag<span class="sort-indicator"></span></th>
            <th title="Click to sort" class="team-list-header sortable sub-header">For<span class="sort-indicator"></span></th>
            <th title="Click to sort" class="team-list-header sortable sub-header">Ag<span class="sort-indicator"></span></th>
            <th title="Click to sort" class="team-list-header sortable sub-header">For<span class="sort-indicator"></span></th>
            <th title="Click to sort" class="team-list-header sortable sub-header">Ag<span class="sort-indicator"></span></th>
            <th title="Click to sort" class="team-list-header sortable sub-header">For<span class="sort-indicator"></span></th>
            <th title="Click to sort" class="team-list-header sortable sub-header">Ag<span class="sort-indicator"></span></th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
    <div id="top-team-list" class="table-container"></div>
  </div>
  <div class="rectangle" id="rectangle3"><h2>Matches</h2>
    <span hidden id="league-name"></span>
    <span hidden id="league-id"></span>
    <span hidden id="round-no"></span>
    <div id="fixtures-info" class="table-container"></div>
  </div>
  <div class="rectangle" id="rectangle4"><h2>Coming Soon</h2>

  </div>
</div>