<script type="module" src="./../controllers/league.js"></script>

<div class="container">
      <div class="rectangle" id="rectangle4">
    <h2>Standings</h2>
    <a href="/league" class="more-link more-button">More &gt;&gt;&gt;</a>
    <div id="standings" class="table-container large"></div>
  </div>

  <div class="rectangle" id="rectangle3">
    <span hidden id="league-name"></span>
    <span hidden id="league-id"></span>
    <span hidden id="round-no"></span>
    <div id="fixtures-info" class="table-container"></div>
    {{> match-list-table}}
  </div>
    <div class="rectangle" id="rectangle1">
    <h2>Top Players</h2>
    <div id="player-list" class="table-container">
      {{> player-list-table big=false}}
    </div>
  </div>

</div>