<script type="module" src="./../controllers/players.js"></script>

<div class="small-container">
  <div class="rectangle">
    <h2>Top Players</h2>
    <div class="more-link more-button">
      <img src="/images/filter-svgrepo-com.svg" alt="Filters" class="filter-icon">
      <span class="toggle-icon">▼</span>
    </div>
    <div id="league-list">
      <div id="league-list-league"></div>
    </div>
    <div id="player-list">
      {{> player-list-table big=true}}
    </div>
    <div id="pageExplainerContainer" class="page-explainer-container hidden">
      <div id="pageExplainer" class="page-explainer">
        <span id="closePageExplainer" class="close-page-explainer">×</span>
        <h3>Players Page Explainer</h3>
        <p>This page displays the top players based on various statistics. Use the filters to customize the view according to your preferences.</p>
      </div>
  </div>
</div>