<script type="module" src="./../controllers/top-teams.js"></script>

<div class="small-container">
  <div class="rectangle">
    <h2>Top Teams</h2>
        <div class="more-link more-button">
      <img src="/images/filter-svgrepo-com.svg" alt="Filters" class="filter-icon">
      <span class="toggle-icon">▼</span>
    </div>
    <div id="top-team-list">
      {{> team-list-table big=true}}
    </div>

  </div>