<script type="module" src="./../controllers/top-teams.js"></script>

<div class="small-container">
  <div class="rectangle">
    {{> rect-header title="Top Teams" link="" leagues=leagues selectedLeagues=selectedTLeagues leaguepar="tleague" }}

    <div id="top-team-list">
      {{> team-list-table big=true}}
    </div>

  </div>
  